body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #F1F1F1;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-default {
    background-color: orange;
    border-color: orange;
}

.panel-heading {
    background-color: white !important;
}

.shadow {
    -webkit-box-shadow: 5px 5px #E5E5E5;
    -moz-box-shadow: 5px 5px #E5E5E5;
    box-shadow: 5px 5px #E5E5E5;
}

.shadow1 {
    -webkit-box-shadow: 0 0 10px 0 #490f76;
    -moz-box-shadow: 0 0 10px 0 #490f76;
    box-shadow: 0 0 10px 0 #490f76;
}

.tab {
    margin-left: 70px;
}

.marginsmall {
    margin-top: 15px;
}

.media-body p {
    margin: 0;
}

.cursorpointer {
    cursor: pointer;
}

.box {
    height: 90px;
    width: 81px;
    text-align: center;
    cursor: pointer;
}

.comments button {
    margin-left: -10px;
}

.notifications-list {
    margin-top: -10px;
    height: 443px;
    overflow:auto;
}

.notification {
    padding: 7px 12px 7px 5px;
    border-bottom: 1px solid lightgray;
}

    .notification:last-child {
        border-bottom: none;
    }

    .notification:first-child {
        padding: 0px 12px 7px 5px;
    }
