body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #F1F1F1;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-default {
    background-color: orange;
    border-color: orange;
}

.panel-heading {
    background-color: white !important;
}

.shadow {
    -webkit-box-shadow: 5px 5px #E5E5E5;
    -moz-box-shadow: 5px 5px #E5E5E5;
    box-shadow: 5px 5px #E5E5E5;
}

.shadow1{
    -webkit-box-shadow: 0 0 10px 0 #490f76;
    -moz-box-shadow: 0 0 10px 0 #490f76;
    box-shadow: 0 0 10px 0 #490f76;
}

.tab{
    margin-left:70px;
}

.marginsmall {
    margin-top: 15px;
}

.media-body p {
    margin: 0;
}

.cursorpointer {
    cursor: pointer;
}

.box {
    height: 90px;
    width: 75px;
    cursor:pointer;
}

    .box a {
        margin-left: 7px;
    }

.comments button {
    margin-left:-10px;
}