<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="row">
                <div class="panel-body">
                    <div class="col-md-6">
                        <comment></comment>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>