<div class="row">
    <div class="col-md-9">
        <div class="marginsmall panel panel-default shadow">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>The Lord of the Rings Ultimate Trilogy Trailer 2012 HD</strong></h3>
            </div>
            <div class="panel-body">
                <iframe class="embed-responsive-item center-block" allowfullscreen height="430" width="770"></iframe>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="marginsmall panel panel-default shadow">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>Recent Activities</strong></h3>
            </div>
            <div class="panel-body">
                <div class="notifications-list">
                    <div class="notification text-center" ng-if="recentActivities.length==0">
                        No Comments
                    </div>
                    <div class="notification" ng-repeat="activity in recentActivities">
                        <div class="text-danger">{{activity.changeDoneBy}}</div>
                        <div>{{ activity.action }} comment <span class="text-info" title="{{activity.message}}">{{ activity.message | limitTo:45 }}</span></div>
                        <div><small class="text-warning" am-time-ago="activity.changeDoneOn"></small></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default shadow">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-comments" aria-hidden="true"></i> <strong>Comments</strong></h3>
            </div>
            <div class="panel-body row">
                <div class="col-md-12">
                    <comment></comment>
                </div>
            </div>
        </div>
    </div>
</div>
