<div class="row">
    <div class="col-md-12">
        <div class="marginsmall panel panel-default shadow">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>The Lord of the Rings Ultimate Trilogy Trailer 2012 HD</strong></h3>
            </div>
            <div class="panel-body">
                <iframe class="embed-responsive-item center-block" allowfullscreen height="430" width="770" src="//www.youtube.com/embed/cnf4h5HT4dc"></iframe>
            </div>
        </div>
        <div class="panel panel-default shadow">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-comments" aria-hidden="true"></i> <strong>Comments</strong></h3>
            </div>
            <div class="panel-body row">
                <div class="col-md-12">
                    <comment></comment>
                </div>
            </div>
        </div>
    </div>
</div>